<form method="get" action="<%= abra_notices_path %>">
  Find notices within
  <select name="distance">
    <option value="0.5">half a mile</option>
    <option value="1.0">one mile</option>
  </select>
  of
  <input type="text" name="address"/>
  <input type="submit" value="Search" />
</form>

<h2 class="lead">Know your ward or ANC?</h2>

<% @wards.each do |ward| %>
  <h3><%= link_to "Ward #{ward.id}", ward %></h3>
  <ul>
    <% ward.ancs.each do |anc| %>
      <%= link_to anc.name, anc %>
    <% end %>
  </ul>
<% end %>
