<form method="get" action="<%= abra_notices_path %>">
  Find notices within
  <select name="distance">
    <option value="0.25">a quarter of a mile</option>
    <option value="0.5" selected="true">half a mile</option>
    <option value="1.0">one mile</option>
  </select>
  of
  <input type="text" name="address"/>
  <input type="submit" value="Search" />
</form>
